---
	import { getCollection } from 'astro:content';
	import { Image } from '@astrojs/image/components';

	import { getBackgroundColor, getContrastColor, getLightColor, getLightBackgroundColor, groupByType } from "@lib/helpers";

	import BaseLayout from './BaseLayout.astro';

	const { frontmatter } = Astro.props
	const allGezichtsbehandelingen = await getCollection('gezichtsbehandelingen');
---

<BaseLayout {frontmatter}>
	<div class="columns">
		<main class="column is-half-tablet-only is-two-thirds">
			<div class="content">
				<slot />
			</div>

			<div class="columns">
				<div class="column is-half-tablet-only">
					<div class="box p-0 is-hidden-flow">
						<figure class="image">
							<Image loading="lazy" decoding="async" alt="Foto 3629" src="/images/3629-portrait.jpg" aspectRatio={4/3}  width="640"/>
						</figure>
					</div>
				</div>
				<div class="column is-half-tablet-only">
					<div class="box p-0 is-hidden-flow">
						<div class="image is-square" style="overflow: hidden;">
							<Image loading="lazy" decoding="async" alt="(foto 3540)" src="/images/3540-square.jpg" aspectRatio={1/1}  width="640"/>
						</div>
					</div>
				</div>
			</div>
		</main>

		<aside class="column is-half-tablet-only is-one-third">
			<div class="notification box is-warning"><b>Let op! Salon Essentia heeft nieuwe prijzen vanaf 1 januari 2023.</b><br />Onder voorbehoud van fouten en wijzigingen.</div>
			{groupByType(allGezichtsbehandelingen).map( behandelingsGroup => (

			<p class={"title is-size-5 has-text-" + getLightColor(frontmatter?.color)}>{behandelingsGroup.key}</p>
			<div class="box p-0">
				<table class={"table is-borderless is-fullwidth " + getLightBackgroundColor(frontmatter?.color)}>
					<thead class={getBackgroundColor(frontmatter?.color)}>
						<tr>
							<th>{behandelingsGroup.key}</th>
							<th>Duur</th>
							<th>Prijzen</th>
						</tr>
					</thead>
					<tbody>
						{behandelingsGroup.items.sort((behandeling1, behandeling2) => behandeling1.data.index - behandeling2.data.index).map(behandeling => (

						<tr>
							<td>{behandeling.data.title}</td>
							<td>
							{behandeling.data.duration && (
								<span>
								{behandeling.data.duration}min.
								</span>
							)}
							</td>
							<td>{Intl.NumberFormat('nl-NL', { style: 'currency', currency: 'EUR' }).format(behandeling.data.price)}</td>
						</tr>
						))}
				</tbody>
				</table>
			</div>
			))}
		</aside>
	</div>
</BaseLayout>